.navbar {
  margin-top: 0;
  background-color: white;
  color: #232223;
  font-family: 'Butcherman', cursive;
  letter-spacing: 5px;
}

.wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas:
  "masthead"
  "about_me"
  "projects"
  "contacts";
}

.header {
  grid-area: masthead;
  font-family: 'Butcherman', cursive;
  color: white;
  letter-spacing: 5px;
  min-height: 530px;
  // padding: 280 200 200 330;
  padding-top: 20%;
  text-align: center;
  background-image: url("https://photos-1.dropbox.com/t/2/AADbgjQK4C6aowG_34TloFVV6-JzLKcZu1SljivJbQ6VXQ/12/172622542/png/32x32/3/1518109200/0/2/Antonellas%20orbit.png/EMXTwIMBGKECIAcoBw/SUqmfrd5_T2owJS_-bKt8ATJJXaVtM--EfcOTBLAA9w?dl=0&preserve_transparency=1&size=1280x960&size_mode=3");

  h1 {
  font-size: 50px;
  }

  p {
  font-size: 25px;
  }
}

.about_me {
  grid-area: about_me;
  background-color: #232223;
  color: white;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 530px;
}

.img-thumbnail {
  border-radius: 50%;
  height: 200px;
  align-items: right;
}

.projects {
  grid-area: projects;
  background-color: white;
  color: black;
  min-height: 530px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.contacts {
  grid-area: contacts;
  background-color: #232223;
  color: white;
  display: flex;
  justify-content: space-between;
  min-height: 200px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

a {

  color: white;
  &:hover {
    color: purple;
  }
}

i {
  font-size: 50px;
  letter-spacing: 80px;
}

btn {
  color: #232223;
  font-size: 17px;
  letter-spacing: 10px;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    color: #232223;
    &:hover {
      color: purple;
    }
  }

.projects,
.about_me,
.contacts {
  padding: 5%;
}

@media screen and (max-width: 400px) {
  .about_me {
    min-height: 1000;
  }
}
