%footer
  .contacts#contacts_section
    .icon-left
      %img.img-spaceship{:alt => "responsive image", :src => "images/Spaceship.png"}

    .icon-right
      %h1 Contact me!
      %a{:href => "https://github.com/AntonellaMorittu", :target => "_blank"}
        %i.icon-git
      %a{:href => "mailto:morittuantonella@gmail.com?subject=Hi Antonella!", :target => "_blank"}
        %i.icon-google-alt
      %a{:href => "https://medium.com/@morittuantonella", :target => "_blank"}
        %i.fab.fa-medium
      
  %span.copyright Copyright © 2020 Antonella Morittu
