%footer
  .contacts#contacts_section
    .icon-left
      %img.img-spaceship{:alt => "responsive image", :src => "images/Spaceship.png"}

    .icon-right
      %h1 Contact me!
      %a{:href => "https://github.com/AntonellaMorittu", :target => "_blank"}
        %i.icon-git
      %a{:href => "https://orbitantonella.wordpress.com/blog/", :target => "_blank"}
        %i.icon-wordpress
      %a{:href => "mailto:morittuantonella@gmail.com?subject=Hi Antonella!", :target => "_blank"}
        %i.icon-google-alt

  %span.copyright Copyright © 2018 Antonella Morittu   ⋄   Artwork by Samuel Larsson
