%footer
  .contacts#contacts_section
    .icon-left
      %img.img-spaceship{:alt => "responsive image", :src => "https://photos-5.dropbox.com/t/2/AADH8lCTYZbECLeHOH7b9mRRB1y_aHjpzLzcy-8c-XTxgw/12/172622542/png/32x32/3/1518116400/0/2/Spaceship.png/EMXTwIMBGKECIAcoBw/8nQrNMPfjIYI4mJsopfrBsnFOmc0-Hde7NX1WXXCgLc?dl=0&preserve_transparency=1&size=1280x960&size_mode=3"}

    .icon-right
      %h1 Contact me!
      %a{:href => "https://github.com/AntonellaMorittu", :target => "_blank"}
        %i.icon-git
      %a{:href => "https://wordpress.com/start/about", :target => "_blank"}
        %i.icon-wordpress
      %a{:href => "mailto:morittuantonella@gmail.com?subject=Hi Antonella!", :target => "_blank"}
        %i.icon-google-alt

  %span.copyright Copyright © 2018 Antonella Morittu
