%nav.navbar.navbar-expand-lg.navbar-light
  %a.navbar-brand ANTONELLA MORITTU
  %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNavAltMarkup.collapse.navbar-collapse
    .navbar-nav
      %a{:href => "https://github.com/AntonellaMorittu", :target => "_blank"}
        %i.icon-git(style="font-size: 50px;")
      %a{:href => "https://wordpress.com/start/about", :target => "_blank"}
        %i.icon-wordpress(style="font-size: 50px;")
      %a{:href => "mailto:morittuantonella@gmail.com?subject=Hi Antonella!", :target => "_blank"}
        %i.icon-google-alt(style="font-size: 50px;")
