.wrapper
  .header
    %h1 ANTONELLA MORITTU
    %p Odyssey of a Junior Web Developer

  .about_me#about_me_section
    %div
      %a#about_me
      %h1 About me
      %p I'm Antonella, an Italian junior web developer based in Gothenburg, Sweden.
      %p I am an inquisitive and curious individual. I was probably a cat in another life.
      %p IF ART IS CREATIVITY, CODING IS PURE CREATION â˜

    %div.about_images
      %img.profile_pic{:alt => "responsive image", :src => "https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAMAAgDuAAgAAQAAAAAAABCeAAAAJDdkMzRmY2Q4LTgwMjktNDFhNC1iMDUzLWVhMTBlM2Q0NmNiMA.bin"}
      %img.moon{:alt => "responsive image", :src => "../images/Planet.png"}
        
  .projects#projects_section
    %a#projects
    %h1 Projects
    - data.projects.each do |project|
      %div
        %img{:alt => "responsive image", :src => "../images/Antonellas orbit page icon.png"}
        %a{href: project[:url], :target => "_blank"}= project[:name]
        %p= project[:description]
